/* Styles Scrollbar */

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: #513500;
  border-radius: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
}

/* Navbar */
header {
  width: 100%;
  height: 73px;
  background-color: #513500;
}

nav {
  display: inline-block;
  height: 73px;
  width: 100%;
  padding: 4px;
}

.logo {
  display: inline-block;
  height: 40px;
  width: 150px;
  margin: 10px 227px 0 50px;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline;
  font-weight: 700;
  margin-right: 10rem;
}

nav ul li a {
  text-decoration: none;
  color: #ffff;
}

nav ul li a:hover {
  border-bottom: 2px solid #CB9C53;
}

/* First Banner */

.firstBanner-conatiner {
  position: relative;
  height: 584px;
  background-image: url('./assets/banner01.jpg');
  background-size: cover;
}

.firstBanner-conatiner h1 {
  position: relative;
  top: 145px;
  color: #ffff;

  letter-spacing: 2px;
  text-align: center;
}

.firstBanner-conatiner button {
  position: relative;
  text-align: center;

  top: 245px;
  left: 40%;

  padding: 1rem 1.5rem;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;

  color: #ffff;
  background-color: #523c15;

  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.firstBanner-conatiner button:hover {
  background-color: #513500;
}

/* Quem somos */

main {
  margin: 1.5rem;
}

main h2 {
  color: #75551E;
  text-align: center;
  margin-bottom: 1.5rem;
}

main section {
  display: inline-block;
  width: 50%;
  margin-left: 25%;
  padding: 1.5rem 2.5rem;
  font-size: 0.9rem;

  color: #ffff;
  background-color: #87652D;
  border-radius: 0.4rem;
}

main section p {
  margin-bottom: 1rem;
}

main section p span {
  font-weight: 700;
}

/* Produtos */

.flex-container {
  border: 1px solid blue;
  padding: 0 10rem;
  margin-bottom: 36px;
}

.products-container {
  display: inline-block;
}

.products-container h2 {
  color: #75551E;
  margin-bottom: 34px;
}

.products-container article {
  display: inline-block;
  height: 15rem;
  width: 15rem;
  background-color: #E5CE83;

  padding: 20px;
  margin-bottom: 20px;

  margin: 10px 0;
  border-radius: 16px;

  text-align: center;
}

.products-container article figure img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

.products-container figcaption {
  font-weight: 700;
  margin: 5px 0;
  font-size: 1rem;
  color: #99753C;
}

.products-container h5 {
  color: #99753C;
  font-size: 0.8rem;
}

aside {
  display: inline-block;
}

/* Formulario */

.form-container .secondBanner-container {
  width: 100%;
  height: 400px;
  position: relative;
  background-image: url('./assets/banner02.png');
  background-size: cover;
}

.form-container .secondBanner-container h1 {
  position: relative;
  top: 20%;
  color: #513500;
  text-align: center;
}


.form-container .secondBanner-container form {
  margin-top: 10rem;
  margin-left: 40%;
}

.form-container .secondBanner-container input {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  padding: 8px 43px;
  border: none;
  border-radius: 0.2rem;
}

.form-container .secondBanner-container input::placeholder {
  text-align: center;
}

.form-container .secondBanner-container button {
  text-align: center;

  padding: 0.7rem 2rem;
  font-weight: 700;
  letter-spacing: 1px;

  color: #ffff;
  background-color: #523c15;

  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-left: 7%;
}

.form-container .secondBanner-container button:hover {
  background-color: #513500;
}
